.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #f0f2f5;
  overflow: hidden;
  background-image: url('../../assets/背景带文字/Page10-Mec-1.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.leftPanel{
  width: 15%;
  height: 90%;
}
.rightPanel {
  width: 32%;
  height: 92%;
}

.mainContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.cardCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125%;
}

.cardContainer {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -15%;
}

.card {
  position: absolute;
  cursor: pointer;
  transition: transform 0.5s ease, opacity 0.4s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.active {
  transform: translateX(0) scale(1) rotate(0deg);
  opacity: 1;
  z-index: 10;
}

.prev {
  transform: translateX(-50%) scale(0.85) rotate(-10deg);
  opacity: 1;
  z-index: 5;
}

.next {
  transform: translateX(50%) scale(0.85) rotate(10deg);
  opacity: 1;
  z-index: 5;
}

.card.selected {
  box-shadow: 0 0 0 4px rgba(128, 128, 128, 0.5);
}

.card.selected.active {
  transform: scale(1.03);
}

.selectButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 0;
  transition: transform 0.2s ease-in-out, opacity 0.3s ease;
}

.hidden {
  transform: scale(0.5);
  opacity: 0;
  z-index: 1;
}

.prev::after,
.next::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  z-index: 1;
  pointer-events: none;
}

.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  z-index: 20;
  width: 120%;
  height: 90%;
}

.selectButton {
  margin-top: 2rem;
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ffffff00;
  color: #333;
  border: 1px solid #dddddd00;
  border-radius: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.selectButton:hover {
  transform: scale(1.05);
}

.selectButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: scale(1);
}

.selectButton svg {
  display: block;
}

