.app-container {
  min-height: 100vh;
  width: 100vw;
  background-image: url('.\\assets\\底面.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  /* 使用 Flexbox 来垂直居中内容 */
  display: flex;
  flex-direction: column; /* 垂直排列 */
  justify-content: center; /* 垂直居中 */
  align-items: center; /* 水平居中 */
}

.info-box {
  background-color: rgba(255, 255, 255, 0.9); /* 半透明白色背景 */
  border-radius: 12px;
  padding: 20px 30px;
  width: 50%; /* 宽度占 50% */
  max-width: 700px; /* 最大宽度 */
  margin-bottom: 40px; /* 与下方轮播的间距 */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: #333;
}

.right-panel {
  flex-basis: 25%;
  height: 80vh;
  max-width: 400px; /* 可以给对话框一个最大宽度，防止被过度拉伸 */
}